<!-- Backdrop overlay -->
<div class="fixed inset-0 bg-black/50 z-40" [class.hidden]="!isOpen()" (click)="closeModal()"></div>

<!-- Modal container -->
<div class="fixed inset-0 flex items-center justify-center z-50 pointer-events-none" [class.hidden]="!isOpen()">
  <div class="bg-white rounded-lg shadow-2xl p-8 w-full max-w-md pointer-events-auto">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-2xl font-bold text-gray-800">New Customer</h2>
      <!-- {{ isEditMode() ? 'Edit Customer' : 'New Customer'}}-->
      <button type="button" (click)="closeModal()" class="text-gray-500 hover:text-gray-700 text-2xl">
        ×
      </button>
    </div>
    <!-- Customer Form -->
    <!-- (change) - Updates the form data when an input field changes -->
    <!-- [value] - Binds the input field value to the form data when it changes -->
    <form>
      <label for="">Name</label>
      <input type="text" (change)="updateForm('Name', $event)" [value]="customerFormData().Name"
        class="w-full border border-gray-300 rounded px-3 py-2 mt-1 mb-4" placeholder="Enter customer name" />
      <label for="">Email</label>
      <input type="text" (change)="updateForm('Email', $event)" [value]="customerFormData().Email"
        class="w-full border border-gray-300 rounded px-3 py-2 mt-1 mb-4" placeholder="Enter email address" />
      <label for="">Mobile No</label>
      <input type="text" (change)="updateForm('MobileNo', $event)" [value]="customerFormData().MobileNo"
        class="w-full border border-gray-300 rounded px-3 py-2 mt-1 mb-4" placeholder="Enter mobile number" />
      <label for="">City</label>
      <input type="text" (change)="updateForm('City', $event)" [value]="customerFormData().City"
        class="w-full border border-gray-300 rounded px-3 py-2 mt-1 mb-4" placeholder="Enter city" />

    </form>

    <div class="flex gap-3 mt-6">
      <button type="button" (click)="closeModal()"
        class="flex-1 bg-red-300 text-white p-2 rounded hover:bg-red-400 transition">
        Cancel
      </button>
      <!--(isEditMode) - Indicates whether the form is in edit mode or new entry mode -->
      <!--@if (isEditMode()) {
      <button type="button" (click)="updateCarData()"
        class="flex-1 bg-blue-600 text-white p-2 rounded hover:bg-blue-700 transition">
        Update Car
      </button>
      }@else {-->
      <button type="button" (click)="onSaveCustomer()"
        class="flex-1 bg-blue-600 text-white p-2 rounded hover:bg-blue-700 transition">
        Save Customer
      </button>
      <!--}-->

    </div>
  </div>
</div>