<!-- Backdrop overlay -->
<div class="fixed inset-0 bg-black/50 z-40" [class.hidden]="!isOpen()" (click)="closeModal()"></div>

<!-- Modal container -->
<div class="fixed inset-0 flex items-center justify-center z-50 pointer-events-none" [class.hidden]="!isOpen()">
  <div class="bg-white rounded-lg shadow-2xl p-8 w-full max-w-md pointer-events-auto">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-2xl font-bold text-gray-800">New Booking</h2>
      <button type="button" (click)="closeModal()" class="text-gray-500 hover:text-gray-700 text-2xl">
        ×
      </button>
    </div>

    <form action="">

      <label for="">Customer Email</label>
      <input type="email" (change)="updateForm('Email', $event)" [value]="bookingFormData().Email"
        class="w-full border border-gray-300 rounded px-3 py-2 mt-1 mb-4" placeholder="Enter email" />
      <label for="">Select Car</label>

      <select (change)="updateForm('RegNo', $event)" [value]="bookingFormData().RegNo"
        class="w-full border border-gray-300 rounded px-3 py-2 mt-1 mb-4" name="" id="">
        <option value="" disabled selected>Select Car</option>
        @for (car of carsList(); track $index) {
        <option value="{{car.RegNo}}">{{car.RegNo}}</option>
        }
      </select>
      <label for="">Booking Date</label>
      <input type="date" (change)="updateForm('BookingDate', $event)" [value]="bookingFormData().BookingDate"
        class="w-full border border-gray-300 rounded px-3 py-2 mt-1 mb-4" placeholder="Enter booking date" />
      <label for="">Discount</label>
      <input type="number" (change)="updateForm('Discount', $event)" [value]="bookingFormData().Discount"
        class="w-full border border-gray-300 rounded px-3 py-2 mt-1 mb-4" placeholder="Enter discount" />
      <label for="">Total Bill Amount</label>
      <input type="number" (change)="updateForm('TotalBillAmount', $event)" [value]="bookingFormData().TotalBillAmount"
        class="w-full border border-gray-300 rounded px-3 py-2 mt-1 mb-4" placeholder="Enter total bill amount" />
    </form>

    <div class="flex gap-3 mt-6">
      <button type="button" (click)="closeModal()"
        class="flex-1 bg-red-300 text-white p-2 rounded hover:bg-red-400 transition">
        Cancel
      </button>
      @if (isEditMode()) {
      <button type="submit" class="flex-1 bg-blue-600 text-white p-2 rounded hover:bg-blue-700 transition"
        (click)="updateBookingData()">
        Update
      </button>
      }@else {
      <button type="submit" class="flex-1 bg-blue-600 text-white p-2 rounded hover:bg-blue-700 transition"
        (click)="onSaveBooking()">
        Submit
      </button>
      }
    </div>
  </div>
</div>
