<nav
  class="h-17.5 relative w-full px-6 md:px-16 lg:px-24 xl:px-32 flex items-center justify-between z-30 bg-linear-to-r from-indigo-700 to-violet-500 transition-all">

  <span class="text-2xl text-white">Vehicle Renting</span>

  <ul class="text-white md:flex hidden items-center gap-10">
    <li><a class="hover:text-white/70 transition" routerLink="dashboard">Dashboard</a></li>
    <li><a class="hover:text-white/70 transition" routerLink="cars">Cars</a></li>
    <li><a class="hover:text-white/70 transition" routerLink="booking">Booking</a></li>
    <li><a class="hover:text-white/70 transition" href="#">Pricing</a></li>
  </ul>



  <button aria-label="menu-btn" #txtMenuBtn type="button" (click)="toggleMenu()"
    class="menu-btn inline-block md:hidden active:scale-90 transition">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="#fff">
      <path
        d="M3 7a1 1 0 1 0 0 2h24a1 1 0 1 0 0-2zm0 7a1 1 0 1 0 0 2h24a1 1 0 1 0 0-2zm0 7a1 1 0 1 0 0 2h24a1 1 0 1 0 0-2z" />
    </svg>
  </button>

  <div #txtMobileMenu
    class="mobile-menu absolute top-17.5 left-0 w-full bg-linear-to-r from-indigo-700 to-violet-500 p-6 hidden md:hidden">
    <ul class="flex flex-col space-y-4 text-white text-lg">
      <li><a routerLink="dashboard" class="text-sm">Dashboard</a></li>
      <li><a routerLink="cars" class="text-sm">Cars</a></li>
      <li><a routerLink="booking" class="text-sm">Booking</a></li>
      <li><a href="#" class="text-sm">Pricing</a></li>
    </ul>

  </div>
</nav>